#background_transaction
{
   height: 200px; 
   width: 200px;
   background-color: green;
   transition: background 4s;
}

#background_transaction:hover
{
   background-color: red;
}

#transform_transaction
{
   margin-top: 300px;
   height: 200px;
   width: 200px;
   background-color: blue;
   transition: transform 4s,background 4s;
}

#transform_transaction:hover
{
    transform: translate(100px,50px) scale(1,1);
    background-color: brown;
    cursor: grab  ;
}